body{
    margin: 0;

}
#card1{
    background: white;
    width:200px; 
    height: 350px;
    padding:20px; 
    border:3px gray solid;
    border-radius: 10px;
    margin-right:50px;
    float:left;
    }
#card2{
    background: white;
    width:200px; 
    height: 350px;
    /*line-height:50px;*/
    padding:20px;
    border:3px gray solid;
    border-radius: 10px;
    margin-right:50px;
    float:left;
    }
#card3{
    background: white;
    width:200px; 
    height: 350px;
    /*line-height:50px;*/
    padding:20px;
    border:3px gray solid;
    border-radius: 10px;
    margin-right:50px;
    float:left;
    }
#card4{
    background: white;
    width:200px; 
    height: 350px;
    /*line-height:50px;*/
    padding:20px;
    border:3px gray solid;
    border-radius: 10px;
    margin-left:150px;
    margin-right:50px;
    float:left;
    }
#card5{
    background: white;
    width:200px; 
    height: 350px;
    /*line-height:50px;*/
    padding:20px;
    border:3px gray solid;
    border-radius: 10px;
    margin-right:60px;
    float:left;
    }
.btn-ball {
    width:100px;
    height:80px;
    /*动画的过渡效果*/
    transition: all  .25s  ease-in;
    border:0;
    margin:10px;
    float: left;

    position:absolute; 
    bottom:15px; 
    right:15px; 
    height: 70px; 
    width: 70px; 
    border-radius: 50%; 
    background: orangered; border: orangered;
}

#img{
    position: fixed;
    border-radius: 50%;
    width: 20px;
  }
