<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/about.css">
    </head>
    <body>
        <h1>About Us</h1>
        <div class="box">
        <label>
            <a>
                <br/>Miki Arcade is a fake web programming company.<br/><br/> Every month, we bring millions of users together to show off their programming and teach new friends.<br/><br/>

                Our goal is to make programming easier to learn.<br/><br/> We serve the next generation of beginner programmers who use the power of their computers to connect with friends and program web pages.<br/><br/>

                Figure out a way to generate the web pattern you want. By providing a globally accessible platform for virtual web programming,<br/> Miki Arcade gives computer programmers the tools they need to show off their skills,<br/> form great teams,<br/> and compete fiercely against each other!

                <br/>Interested in joining our team?
            </a>
            <p><br/>Feel free to contact us at jobs<a href="#">@miki.me.</a></p>
        </label>
        </div>
    </body>
</html>
