<!doctype html>
<meta charset="utf-8">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Omlet Arcade</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
    $(function() {
    $( "#dialog" ).dialog({
    modal: true,
    buttons: {
    Ok: function() {
    $( this ).dialog( "close" );
    }
    }
    });
    });
    </script>
  </head>
  <body class="p-3 m-0 border-0 bd-example" style="background-color: #333333;">
    <body style="background-color: #333333;">
      <nav class="navbar navbar-expand-lg " style="background-color: #222222;" >
        <div class="container-fluid" >
          <a class="navbar-brand" href="../templates/index.html"><img src="https://omlet.gg/aw/img/arcade-logo_00ea42.png" style="color: #fff;" height="25px"></a>
          <a class="navbar-brand" href="../templates/index.html"><img src="https://omlet.gg/aw/img/arcade_brand_name_016fd9.png" style="color: #fff; height: 22px;" width="164px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll" style="float: left;">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; float: left;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://omlet.gg/streams" target="_blank" style="color: #c7c8d1;">Stream</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://omlet.gg/games" target="_blank" style="color: #c7c8d1;">Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://omlet.gg/communities" target="_blank" style="color: #c7c8d1;">Communities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://omlet.gg/events" target="_blank" style="color: #c7c8d1;">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://omlet.gg/omletplus" target="_blank" style="color: #c7c8d1;">OmletPlus</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #c7c8d1;">
                  More
                </a>
                <ul class="dropdown-menu" style="background-color: #2d2f41; border-color: #5B5B5B	;">
                  <li><a class="dropdown-item" href="https://www.linkedin.com/company/omlet-inc/" target="_blank" style="color: #fff;">About Us</a></li>
                  <li><a class="dropdown-item" href="https://ads.omlet.gg/" target="_blank" style="color: #fff;">Omlet ADS</a></li>
                  <li><hr class="dropdown-divider" style="margin-left: 20px; margin-right: 20px; border-top: 1px solid #454759"></li>
                  <li><a class="dropdown-item" href="https://omlet.gg/pcstream" target="_blank" style="color: #fff;">Stream Your PC Game</a></li>
                  <li><a class="dropdown-item" href="https://omlet.gg/omlet-connect" target="_blank" style="color: #fff;">Omlet Connect</a></li>
                  <li><a class="dropdown-item" href="https://omlet.gg/play-with-pro/index.html" target="_blank" style="color: #fff;">Play With Pro</a></li>
                  <li><hr class="dropdown-divider" style="margin-left: 20px; margin-right: 20px; border-top: 1px solid #454759"></li>
                  <li><a class="dropdown-item" href="https://omlet.zendesk.com/hc/en-us" target="_blank" style="color: #fff;">QA&Request for help</a></li>
                  <li><a class="dropdown-item" href="https://omlet.gg/legal/tos" target="_blank" style="color: #fff;">user specification</a></li>
                  <li><a class="dropdown-item" href="https://omlet.gg/legal/privacy" target="_blank" style="color: #fff;">confidentiality agreement</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value style="width: 132px;">
            </form>
            <div>
              <svg src="https://omlet.gg/aw/e5881e9b71837e631d1cb65bff538a61.svg" height="15" width="15px" ></svg>
              <img src="https://omlet.gg/aw/img/omlet-chat-bubble_682170.png" height="25px" width="25px">
              </div>
            <div>
              <svg src="https://omlet.gg/aw/e5881e9b71837e631d1cb65bff538a61.svg" height="15" width="15px" ></svg>
              <img src="https://omlet.gg/aw/e5881e9b71837e631d1cb65bff538a61.svg" height="20px" width="20px" >
            </div>
            <div>
              <svg src="https://omlet.gg/aw/e5881e9b71837e631d1cb65bff538a61.svg" height="15" width="15px" ></svg>
              <img src="https://omlet.gg/aw/img/notification_f96659.png" height="20px" width="20px">
            </div>
            <div>
              <svg src="https://omlet.gg/aw/39545619b9af83471001a70cf16691ff.svg" height="15" width="15px" ></svg>
              <img src="https://omlet.gg/aw/39545619b9af83471001a70cf16691ff.svg" height="20px" width="20px">
            </div>
            <div style="color: white;">
              <svg src="https://omlet.gg/aw/30911ea4ab59b1417dd58a46fd4f55d6.svg" height="15" width="15px" ></svg>
              <img src="https://omlet.gg/aw/30911ea4ab59b1417dd58a46fd4f55d6.svg" height="20px" width="20px" role="presentation">
              <b>
                購買OM幣
                <svg src="https://omlet.gg/aw/30911ea4ab59b1417dd58a46fd4f55d6.svg" height="5px" width="5px" ></svg>
              </b>
            </div>
            <div style="color: white;">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #c7c8d1;">
                  Please Sign-Up
                </a>
                <ul class="dropdown-menu" style="background-color: #222222;"  >
                  <li><a class="dropdown-item" href="https://omlet.gg/profile/miki_come_back" target="_blank" style="color: #fff;">User-Info</a></li>
                  <li><a class="dropdown-item" href="/miki/templates/signup" style="color: #fff;">Sign-Up</a></li>
                  <li><a class="dropdown-item" href="/miki/templates/login" style="color: #fff;">LogIn</a></li>
                  <li><a class="dropdown-item" href="/miki/templates/login" style="color: #fff;">LogOut</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
              </ul>
            </div>
        </div>
      </nav>
        <div class="container-fluid">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
        crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" 
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" 
        crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" 
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" 
        crossorigin="anonymous">
        </script>
    </body>
</body>
    <!-- Button trigger modal -->
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      儲值Omlet信仰值
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><b>是否要儲值信仰?</b></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            當你儲值OM信仰你可以獲得小編們的一句"愛的話" 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="alert('小編:我們愛你!')">是的!</button>
          </div>
        </div>
      </div>
    </div>

</html>
