<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../static/css/sign.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <form class="hello">
      <h1>Sign Up</h1>
      <input type="text" placeholder="Account" id="name" name="name"/>
      <input type="password" placeholder="Password" id="password" name="password"/>
      <input type="submit" value="Submit"/>
      <a href="/miki/templates/">
        <input type="button" value="回到主頁">
      </a>
    </form>
  </body>  
</html>