<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../static/css/newindex.css">

        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="../templates/newindex.html" class="logo"><i class="ri-home-6-fill"></i><span>LOGO</span></a>

            <ul class="navbar">
                <li><a href="../templates/about.html" target="_blank" class="active">About</a></li>
                <li><a href="../templates/service.html">Services</a></li>
                <li>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="myFunction()">Blog
                            <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" id="myDropdown">
                            <a href="https://omlet.gg/profile/miki_come_back" target="_blank">Omlet Info</a>
                            <a href="#">None</a>
                            <a href="#">None</a>
                            </div>
                        </div>
                </li>
                <li><a href="../templates/weather.html">test</a></li>
                <li>
                    <span><input type="text" class="query" name="" value="" id="mysearch"><button class="searchbtn" onclick="document.getElementById('mysearch').value=''"><i class="ri-search-line"></i></button></span>
                    <script>
                        document.addEventListener("keyup", function(event) {
                        let query = document.querySelector('.query');
                        let searchbtn = document.querySelector('.searchbtn');
                        if (event.keyCode === 13) {
                            let url = 'https://www.google.com/search?q='+query.value;
                            window.open(url);

                        }
                    });
                    </script>
                </li>
            </ul>

            <div class="main">
                <div id="toggle">
                    <i class="indicator"></i>
                </div>
                <script>
                    const body = document.querySelector('body');
                    const toggle = document.getElementById('toggle');
                    toggle.onclick = function(){
                        toggle.classList.toggle('active');
                        body.classList.toggle('active')
                    }
                </script>
                <a href="../templates/newsignin.html" class="user"><i class="ri-user-fill"></i>Login</a>
                <a href="../templates/newsignup.html">Register</a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
        </header>
        
        <script>
            let query = document.querySelector('.query');
            let searchbtn = document.querySelector('.searchbtn');

            searchbtn.onclick = function(){
                let url = 'https://www.google.com/search?q='+query.value;
                window.open(url);
            }
        </script>

        <script>        
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
            }
        }
        }
        </script>

        <script type="text/javascript" src="../js/script.js"></script>
        

    </body>
</html>
