<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/signup.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="../static/user.ico" rel="shortcut icon" type="image/ico" />

  </head>
  <body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form action="#">
            <label>First Name:</label>
            <input type="text" placeholder="First Name" required></input>
            <label>Last Name:</label>
            <input type="text" placeholder="Last Name" required></input>
            <label><i class="ri-mail-line"></i>Email:</label>
            <input type="email" placeholder="example@gmail.com" required></input>
            <label><i class="ri-key-line"></i>Password:</label>
            <input type="password" placeholder="Type Passowrd Here" required></input>
            <label><i class="ri-key-fill"></i>Confirm Password:</label>
            <input type="password" placeholder="Type Passowrd Here Again" required></input>
            <a href="../templates/signup.html"><input type="submit" value="Sumbit" ></a>
            <a href="../templates/index.html"><input type="button" value="⟵" form="#"></a>

        </form>
        <p>By Clicking the Sign Up Button,You Argee To Our
        <a href="#">Terms and Condition</a> and 
        <a href="#">Policy Privacy</a></p>
    </div>
    <p class="p-2">Already Have a account?<a href="../templates/signin.html">Login Here</a></p>
  
</body>
</html>
