<!DOCTYPE html>
<html>
    <head>
        <title>Test Web</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/test1.css">
    </head>
    <style>
        html {
            height: 100%;
        }

        body {
            background-image: url("https://media.istockphoto.com/id/1129129823/vector/leaderboards-glitch-effect-icon-illustration.jpg?s=612x612&w=0&k=20&c=er-i0k83HdDCQzzqAZivHa2Amh7uvEgPWUiB8WDL6Jc=");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
    <body>
        <div class="topnav">
            <a class="active" href="/miki/templates/">Home</a>
            <a href="https://news.google.com/" target="_blank">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="table">
        <table border="5px">
          <tr>
            <td>&nbsp;</td>
            <td style="color:yellow"><b>Buffer</b></td>
            <td style="color:yellow"><b>Omlet ID</b></td>
            <td style="color:yellow"><b>Total</b></td>
            <td style="color:yellow"><b>Day</b></td>
          </tr>
          <tr>
            <td style="color: gold;"><b>Top 1</b></td>
            <td style="color:red">Crazy Boy</td>
            <td style="color: red;"><b><a href="https://omlet.gg/profile/dc4869dc" target="_blank">dc4869dc</a></b></td>
            <td style="color:yellow"><b>$9482 OMB</b></td>
            <td>2022/12/23</td>
          </tr>
          <tr>
            <td style="color: orange;"><b>Top 2</b></td>
            <td style="color:red">Crazy Damn</td>
            <td style="color: red;"><b><a href="https://omlet.gg/profile/om_mosquito" target=_blank">om_mosquito</a></b></td>
            <td style="color:yellow"><b>$4654 OMB</b></td>
            <td>2022/12/23</td>
          </tr>
          <tr>
            <td style="color: yellow;"><b>Top 3</b></td>
            <td style="color:red">Crazy Men</td>
            <td style="color:red"><b><a href="https://omlet.gg/profile/malshinna" target="_blank">malshinna</a></b></td>
            <td style="color: yellow;"><b>$224 OMB</b></td>
            <td>2022/12/26</td>
          </tr>
          <tr>
            <td style="color: pink;"><b>Top 4</b></td>
            <td style="color:red">angle?</td>
            <td style="color:red"><b><a href="https://omlet.gg/profile/0oalkso0" target="_blank">0oalkso0</a></b></td>
            <td style="color:yellow"><b>$154 OMB</b></td>
            <td>2022/12/25</td>
          </tr>
          <tr>
            <td style="color: pink;"><b>Top 5</b></td>
            <td style="color:red">Math Master</td>
            <td style="color: red;"><b><a href="https://omlet.gg/profile/123katie" target="_blank">123katie</a></b></td>
            <td style="color:yellow"><b>$64 OMB</b></td>
            <td >2022/12/26</td>
          </tr>
          <tr>
            <td style="color: pink;"><b>Top 6</b></td>
            <td style="color:red">LSP</td>
            <td style="color: red;"><b><a href="https://omlet.gg/profile/wglow1031u" target="_blank">wglow1031u</a></b></td>
            <td style="color:yellow"><b>$32 OMB</b></td>
            <td>2022/12/23</td>
          </tr>
          <tr>
            <td style="color: pink;"><b>Top 7</b></td>
            <td style="color:red">Toooo small</td>
            <td style="color:red"><b><a href="https://omlet.gg/profile/summer_hk_87" target="_blank">summer_hk_87</a></b></td>
            <td style="color:yellow"><b>$32 OMB</b></td>
            <td>2022/12/26</td>
          </tr>
          <tr>
            <td><b>Top 8</b></td>
            <td>This is a space table</td>
            <td><b>This is a space table</b></td>
            <td><b>This is a space table</b></td>
            <td>This is a space table</td>
          </tr>
          <tr>
            <td><b>Top 9</b></td>
            <td>This is a space table</td>
            <td><b>This is a space table</b></td>
            <td><b>This is a space table</b></td>
            <td>This is a space table</td>
          </tr>
              <tr>
            <td><b>Top 10</b></td>
            <td>This is a space table</td>
            <td><b>This is a space table</b></td>
            <td><b>This is a space table</b></td>
            <td>This is a space table</td>
          </tr>
        </table>
        
        </div>
    </body>
    <style>
        body{
        animation: change 5s linear 0s infinite;

        }

        @keyframes change {

        0% {color: #333;}

        50% {color: #f60;}

        75% {color: yellow;}

        100% {color: #f00;}

        }
    </style>
</html>
